*{
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
margin:0;
background:#031226;
}

.page{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#031226;
}

.card{
background:#0b1f3d;
padding:40px;
width:500px;
border-radius:18px;
color:white;
box-shadow:0 0 40px rgba(0,0,0,0.4);
border-top:4px solid #2e6cff;
}

.logo{
display:flex;
align-items:center;
gap:10px;
margin-bottom:20px;
}

.logo-icon{
font-size:28px;
}

.logo span{
font-size:10px;
opacity:0.7;
margin-top:-8px;
display:block;
}

h1{
text-align:center;
margin-bottom:5px;
}

.subtitle{
text-align:center;
opacity:0.7;
margin-bottom:25px;
}

form{
display:flex;
flex-direction:column;
}

.row2{
display:flex;
gap:10px;
}

.row2 div{
flex:1;
}

label{
font-size:11px;
margin-top:10px;
opacity:0.8;
}

input{
margin-top:6px;
padding:12px;
border-radius:8px;
border:1px solid #1e3a6b;
background:#0c254d;
color:white;
}

.strength{
font-size:12px;
color:orange;
margin-top:5px;
}

.hint{
font-size:11px;
opacity:0.6;
margin-top:5px;
}

.terms{
display:flex;
gap:8px;
align-items:center;
margin-top:10px;
font-size:13px;
}

.create-btn{
margin-top:15px;
padding:13px;
border:none;
border-radius:10px;
background:linear-gradient(90deg,#2c6cff,#3b7cff);
color:white;
font-weight:bold;
cursor:pointer;
}

.signin{
text-align:center;
margin-top:15px;
font-size:13px;
opacity:0.8;
}
.password-box{
position:relative;
width:100%;
}

.password-box input{
width:100%;
padding:12px 40px 12px 12px;
}

.eye{
position:absolute;
right:12px;
top:50%;
transform:translateY(-50%);
cursor:pointer;
color:#ccc;
font-size:18px;
}