*{
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
margin:0;
background:#031226;
}

.page{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#031226;
}

.card{
background:#0b1f3d;
padding:40px;
width:420px;
border-radius:16px;
color:white;
box-shadow:0 0 40px rgba(0,0,0,0.4);
}

.logo{
display:flex;
align-items:flex-start;

gap:10px;
margin-bottom:20px;
}

.logo-icon{
font-size:28px;
margin-top:-6px;

}

.logo span{
font-size:10px;
opacity:0.7;
margin-top:-6px;
display:block;
}

h1{
text-align:center;
margin-bottom:5px;
}

.subtitle{
text-align:center;
opacity:0.7;
margin-bottom:25px;
}

form{
display:flex;
flex-direction:column;
}

label{
font-size:11px;
letter-spacing:1px;
margin-top:10px;
opacity:0.8;
}

input{
margin-top:6px;
padding:12px;
border-radius:8px;
border:1px solid #1e3a6b;
background:#0c254d;
color:white;
}

.row{
display:flex;
justify-content:space-between;
margin-top:10px;
font-size:12px;
}

.remember{
display:flex;
gap:6px;
align-items:center;
}

.login-btn{
margin-top:15px;
padding:13px;
border:none;
border-radius:10px;
background:linear-gradient(90deg,#2c6cff,#3b7cff);
color:white;
font-weight:bold;
cursor:pointer;
}

.divider{
display:flex;
align-items:center;
gap:10px;
margin:20px 0;
font-size:12px;
opacity:0.6;
}

.divider span{
flex:1;
height:1px;
background:#1e3a6b;
}

.google-btn{
padding:12px;
border-radius:10px;
border:1px solid #1e3a6b;
background:transparent;
color:white;
cursor:pointer;
}

.signup{
text-align:center;
margin-top:15px;
font-size:13px;
}

.signup a{
color:#4a7dff;
text-decoration:none;
}

.demo{
text-align:center;
font-size:12px;
opacity:0.5;
margin-top:10px;
}
.password-box{
position:relative;
width:100%;
}

.password-box input{
width:100%;
padding:12px 40px 12px 12px;
border-radius:8px;
border:1px solid #1e3a6b;
background:#0c254d;
color:white;
}

.eye{
position:absolute;
right:12px;
top:50%;
transform:translateY(-50%);
cursor:pointer;
color:#ccc;
font-size:18px;
}